<h1>Edit Resume</h1>
<%= form_tag "/users/#{@user.id}", method: :patch do %>
  <div>
    <%= label_tag :first_name %> 
    <%= text_field_tag :first_name, @user.first_name %>
  </div> 
  <div>
    <%= label_tag :last_name %> 
    <%= text_field_tag :last_name, @user.last_name %>
  </div> 
  <div>
    <%= label_tag :email %> 
    <%= text_field_tag :email, @user.email %>
  </div> 
  <div>
    <%= label_tag :phone_number %> 
    <%= text_field_tag :phone_number, @user.phone_number %>
  </div> 
  <div>
    <%= label_tag :short_bio %> 
    <%= text_field_tag :short_bio, @user.short_bio %>
  </div> 
  <div>
    <%= label_tag :linkdein_url %> 
    <%= text_field_tag :linkdein_url, @user.linkdein_url %>
  </div> 
  <div>
    <%= label_tag :twitter_feed %> 
    <%= text_field_tag :twitter_feed, @user.twitter_feed %>
  </div> 
  <div>
    <%= label_tag :blog %> 
    <%= text_field_tag :blog, @user.blog %>
  </div> 
  <div>
    <%= label_tag :resume_url %> 
    <%= text_field_tag :resume_url, @user.resume_url %>
  </div> 
  <div>
    <%= label_tag :github_url %> 
    <%= text_field_tag :github_url, @user.github_url %>
  </div> 
  <div>
    <%= label_tag :job_title %> 
    <%= text_field_tag :job_title, @user.job_title %>
  </div> 
  <div>
    <%= label_tag :company_name %> 
    <%= text_field_tag :company_name, @user.company_name %>
  </div>  
   <div>
    <%= label_tag :start_date %> 
    <%= text_field_tag :start_date, @user.start_date %>
  </div>   
  <div>
    <%= label_tag :end_date %> 
    <%= text_field_tag :end_date, @user.end_date %>
  </div>  
   <div>
    <%= label_tag :details %> 
    <%= text_field_tag :details, @user.details %>
  </div>  
   <div>
    <%= label_tag :degree %> 
    <%= text_field_tag :degree, @user.degree %>
  </div>  
   <div>
    <%= label_tag :university_name %> 
    <%= text_field_tag :university_name, @user.university_name %>
  </div>  
   <div>
    <%= label_tag :start_date %> 
    <%= text_field_tag :start_date, @user.start_date %>
  </div> 
   <div>
    <%= label_tag :end_date %> 
    <%= text_field_tag :end_date, @user.end_date %>
  </div>  <div>
    <%= label_tag :details %> 
    <%= text_field_tag :details, @user.details%>
  </div>  <div>
    <%= label_tag :skills %> 
    <%= text_field_tag :name, @user.name %>
  
  <%= submit_tag "Submit" %>

  <% end %>
